---
const url_precio = "https://west.albion-online-data.com/api/v2/stats/prices/";
const objeto_a_buscar = "T7_MAIN_AXE";
const ubicacion = [
  "Bridgewatch",
  "Lymhurst",
  "Fort Sterling",
  "Martlock",
  "Thetford",
  "Caerleon",
];
//"https://west.albion-online-data.com/api/v2/stats/prices/T3_MAIN_AXE?locations=Caerleon,Bridgewatch&qualities=1"
const calidad = "4";
const consulta =
  url_precio +
  objeto_a_buscar +
  "?locations=" +
  ubicacion +
  "&qualities=" +
  calidad;
const data = await fetch(consulta).then((response) => response.json());
console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {
      data.map((dat) => (
        <>
          <p>{dat.item_id}</p>
          <p>{dat.city}</p>
          <p>{dat.quality}</p>
          <p>{dat.sell_price_min}</p>
        </>
      ))
    }
  </body>
</html>
