---
import "../style/gobla.css";

const encantamientos = [0, 1, 2, 3, 4];
const tiers = [2, 3, 4, 5, 6, 7, 8];
const calidades = [0, 1, 2, 3, 4, 5];
const ubicacion = [
  "Bridgewatch",
  "Lymhurst",
  "Fort Sterling",
  "Martlock",
  "Thetford",
  "Caerleon",
  "Black Market",
];
//marlock = #7266ba;
//bridgewacht = #f76397;
//Lymhusrt = #fa0;
//fort = #00b19d;
//theforld = #3bafda;
//caerleon = #343a40;
//url renrender.albiononline.com/v1/item/T6_2H_DUALAXE_KEEPER@4.pngder imagen
//https://
---

<!--- poooorrr la democracia se un heldiver jajaja no lo juego pero me gusta el
concepto ----->
<p id="consulta"></p>
<p id="armas_tier"></p>
<div class="contenedor_fomulario">
  <form id="busquedaAchas">
    <div class="armas">
      <div class="tipo_arma">
        <label for="tipo_de_achas">Hacha a Buscar</label>
        <p></p>
      </div>
      <div class="calidad_arma">
        <label for="tir">Tier</label>
        <select name="tier" id="tier">
          {tiers.map((tier) => <option value={"T" + tier}>{tier}</option>)}
        </select>
      </div>
      <div class="calidad_arma">
        <label for="calidad_de_hachas">Calidad del Hacha</label>
        <select name="calidad_de_hachas" id="calidad_de_hachas">
          {
            calidades.map((calidad) => (
              <option value={calidad}>{calidad}</option>
            ))
          }
        </select>
      </div>
      <div class="calidad_arma">
        <label for="encantamiento">Encantamientos</label>
        <select name="encantamiento" id="encantamiento">
          {
            encantamientos.map((encantamiento) => (
              <option value={encantamiento}>{encantamiento}</option>
            ))
          }
        </select>
      </div>
    </div>
    <label for="ubicaciones" id="label_ubicacion">ELIJE LA UBICACION</label>
    <div class="ciudades">
      {
        ubicacion.map((ciudad) => (
          <>
            <div class="ciudad">
              <label for="ubicaciones">{ciudad}</label>
              <input
                type="checkbox"
                name="ubicaciones"
                id="ubicaciones"
                value={ciudad}
              />
            </div>
          </>
        ))
      }
    </div>
    <button type="submit">Buscar</button>
  </form>
</div>
<br />
<script>
  //Aquí tienes el JSON reorganizado para que los datos se agrupen por tier:
  import armasPorTier from "../datas/tier_armas.json";
  const tierConsulta = [];
  let armasEnTier;

  // Selección del formulario para obtener datos del dom
  const form = document.querySelector("form");
  // Evento de envío del formulario
  form?.addEventListener("submit", (e) => {
    e.preventDefault(); // Evita Recarga de la pagina de enviar el formulario

    // Elementos HTML donde se mostrarán los datos
    const mostrar = document.getElementById("mostrar-datos");

    // Obtiene los datos del formulario
    const formdata = new FormData(form);
    let encantamiento = formdata.get("encantamiento");
    const calidad = formdata.get("calidad_de_hachas");

    const tier = formdata.get("tier");
    const ubicacion = formdata.getAll("ubicaciones");

    // Verifica si hay encantamiento
    if (encantamiento[0] == 0) {
      encantamiento = "";
    } else {
      encantamiento = "@" + encantamiento[0];
    }

    //recorrer amras por tier
    function mostrarArmasPorTier(tier) {
      document.getElementById("armas_tier").innerHTML = "";
      armasEnTier = armasPorTier.find((obj) => obj.tier === tier);
      if (armasEnTier) {
        armasEnTier.armas.forEach((arma) => {
          tierConsulta.push(arma.id + encantamiento);
        });
        console.log(tierConsulta, armasEnTier.armas[0]);
      } else {
        console.log(`No se encontraron armas para el tier ${tier}.`);
      }
    }
    mostrarArmasPorTier(tier);
    // Construcción de la URL de consulta
    const consulta =
      "https://west.albion-online-data.com/api/v2/stats/prices/" +
      tierConsulta +
      "?locations=" +
      ubicacion +
      "&qualities=" +
      calidad;

    // Envía la consulta al API
    const respuesta = fetch(consulta)
      .then((response) => response.json())
      .then((datos) => {
        document.getElementById("consulta").innerText = consulta;

        mostrar.innerHTML = "";
        // Itera sobre los datos recibidos y los muestra en el HTML
        datos.forEach((elemento) => {
          if (elemento.sell_price_min > 0) {
            mostrar.innerHTML += `
		<tr>
			<td>${elemento.quality}</td>
			<td>${elemento.item_id}</td>
			<td>${elemento.sell_price_min}</td>
			<td>${elemento.sell_price_min_date}</td>
      <td>${elemento.city}</td>
      <td><img class="imagen" src="https://render.albiononline.com/v1/item/${elemento.item_id}.png?quality=${elemento.quality}&locale=en" alt="imagen_de_acha" width="70" height="70"/></td>
		</tr>
              `;
          }
        });
      })
      .catch((error) => {
        console.error("Error en la consulta", error);
      })
      .finally(() => tierConsulta.splice(0, tierConsulta.length));
  });
</script>
