---
import "../style/gobla.css";
const achas = [
  { id: "T3_MAIN_AXE", name: "Journeyman's Battleaxe" },
  { id: "T4_MAIN_AXE", name: "Adept's Battleaxe" },
  { id: "T5_MAIN_AXE", name: "Expert's Battleaxe" },
  { id: "T6_MAIN_AXE", name: "Master's Battleaxe" },
  { id: "T7_MAIN_AXE", name: "Grandmaster's Battleaxe" },
  { id: "T8_MAIN_AXE", name: "Elder's Battleaxe" },
  { id: "T4_2H_AXE", name: "Adept's Greataxe" },
  { id: "T5_2H_AXE", name: "Expert's Greataxe" },
  { id: "T6_2H_AXE", name: "Master's Greataxe" },
  { id: "T7_2H_AXE", name: "Grandmaster's Greataxe" },
  { id: "T8_2H_AXE", name: "The Hand of Khor" },
  { id: "T4_2H_HALBERD", name: "Adept's Halberd" },
  { id: "T5_2H_HALBERD", name: "Expert's Halberd" },
  { id: "T6_2H_HALBERD", name: "Master's Halberd" },
  { id: "T7_2H_HALBERD", name: "Grandmaster's Halberd" },
  { id: "T8_2H_HALBERD", name: "Elder's Halberd" },
  { id: "T4_2H_HALBERD_MORGANA", name: "Adept's Carrioncaller" },
  { id: "T5_2H_HALBERD_MORGANA", name: "Expert's Carrioncaller" },
  { id: "T6_2H_HALBERD_MORGANA", name: "Master's Carrioncaller" },
  { id: "T7_2H_HALBERD_MORGANA", name: "Grandmaster's Carrioncaller" },
  { id: "T8_2H_HALBERD_MORGANA", name: "Elder's Carrioncaller" },
  { id: "T4_2H_SCYTHE_HELL", name: "Adept's Infernal Scythe" },
  { id: "T5_2H_SCYTHE_HELL", name: "Expert's Infernal Scythe" },
  { id: "T6_2H_SCYTHE_HELL", name: "Master's Infernal Scythe" },
  { id: "T7_2H_SCYTHE_HELL", name: "Grandmaster's Infernal Scythe" },
  { id: "T8_2H_SCYTHE_HELL", name: "Elder's Infernal Scythe" },
  { id: "T4_2H_DUALAXE_KEEPER", name: "Adept's Bear Paws" },
  { id: "T5_2H_DUALAXE_KEEPER", name: "Expert's Bear Paws" },
  { id: "T6_2H_DUALAXE_KEEPER", name: "Master's Bear Paws" },
  { id: "T7_2H_DUALAXE_KEEPER", name: "Grandmaster's Bear Paws" },
  { id: "T8_2H_DUALAXE_KEEPER", name: "Elder's Bear Paws" },
  { id: "T4_2H_AXE_AVALON", name: "Adept's Realmbreaker" },
  { id: "T5_2H_AXE_AVALON", name: "Expert's Realmbreaker" },
  { id: "T6_2H_AXE_AVALON", name: "Master's Realmbreaker" },
  { id: "T7_2H_AXE_AVALON", name: "Grandmaster's Realmbreaker" },
  { id: "T8_2H_AXE_AVALON", name: "Elder's Realmbreaker" },
];
const calidades = [1, 2, 3, 4, 5];
const ubicacion = [
  "Bridgewatch",
  "Lymhurst",
  "Fort Sterling",
  "Martlock",
  "Thetford",
  "Caerleon",
  "Black Market",
];
//url render imagen
//https://render.albiononline.com/v1/item/T6_2H_DUALAXE_KEEPER@4.png
---

<!--- poooorrr la democracia se un heldiver jajaja no lo juego pero me gusta el
concepto ----->
<div class="contenedor_fomulario">
  <form id="busquedaAchas" class="formulario-busqueda">
    <div class="armas">
      <div class="tipo_arma">
        <label for="tipo_de_achas">Hacha a Buscar</label>
        <select name="tipo_de_achas" id="tipo_de_achas">
          {achas.map((acha) => <option value={acha.id}>{acha.name}</option>)}
        </select>
      </div>
      <div class="calidad_arma">
        <label for="calidad_de_hachas">Calidad del Hacha</label>
        <select name="calidad_de_hachas" id="calidad_de_hachas">
          {
            calidades.map((calidad) => (
              <option value={calidad}>{calidad}</option>
            ))
          }
        </select>
      </div>
    </div>
    <label for="ubicaciones" id="label_ubicacion">ELIJE LA UBICACION</label>
    <div class="ciudades">
      {
        ubicacion.map((ciudad) => (
          <>
            <div class="ciudad">
              <label for="ubicaciones">{ciudad}</label>
              <input
                type="checkbox"
                name="ubicaciones"
                id="ubicaciones"
                value={ciudad}
              />
            </div>
          </>
        ))
      }
    </div>
    <button type="submit">Buscar</button>
  </form>
</div>
<br />
<div id="mostrar-datos"></div>
<script>
  const form = document.querySelector("form");
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    //etiquetas para mostrar datos
    const mostrar = document.getElementById("mostrar-datos");
    //obatencion de datos en la consulta
    const formdata = new FormData(form);
    const calidad = formdata.get("calidad_de_hachas");
    const arma = formdata.get("tipo_de_achas");
    const ubicacion = formdata.getAll("ubicaciones");
    //creacion de url con los datos de consulta
    const consulta =
      "https://west.albion-online-data.com/api/v2/stats/prices/" +
      arma +
      "?locations=" +
      ubicacion +
      "&qualities=" +
      calidad;
    //se envia la consulta al api
    const respuesta = fetch(consulta)
      .then((response) => response.json())
      .then((datos) => {
        console.log(datos);
        mostrar.innerHTML = "";
        datos.forEach((elemento) => {
          //impresion de resultado de la consulta en html
          mostrar.innerHTML += `
          <div class="container" id="container">
 <div class="wrapper">
   <div class="banner-image"><img
  src="https://render.albiononline.com/v1/item/${elemento.item_id}.png?quality=${elemento.quality}&locale=en"
  alt="acha"/></div>
   <h1>${elemento.item_id}</h1>
   <p>venta maxima ${elemento.sell_price_max}, <br/>
      venta minima ${elemento.sell_price_min}, <br/>
      compra maxima ${elemento.buy_price_max}, <br/>
      compra minima ${elemento.buy_price_min}, <br/>
     .</p>
  </div>
  <div class="button-wrapper"> 
  <button class="btn outline">${elemento.city}</button>
    <button class="btn fill">${elemento.quality}</button>

  </div>
  </div>`;
        });
      })
      .catch((error) => {
        console.error("Error en la consulta", error);
      });
  });
</script>
